
.icon-pinterest:before { content: '\e800'; } /* '' */
.icon-signal:before { content: '\e801'; } /* '' */
.icon-flash:before { content: '\e802'; } /* '' */
.icon-download-cloud:before { content: '\f015'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-keyboard:before { content: '\f11c'; } /* '' */
.icon-reddit-alien:before { content: '\f281'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */